:root {
  --logo-color: #4d5ae5;
  --nav-color: #2e2f42;
  --green: #31d0aa;
  --help-color: #8e8f99;
  --accent-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --white: #ffffff;
  --studio-color: #404bbf;
  --body-color: #434455;
  --medium: 500;
  --regular: 400;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--body-color);
  background-color: var(--white);
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--nav-color);
  text-transform: capitalize;
}

h3 {
  font-weight: var(--medium); /*medium*/
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--nav-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

p {
  font-weight: var(--regular); /*regular*/
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation {
  color: var(--nav-color);
  font-weight: var(--medium); /*medium*/
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo {
  text-transform: uppercase;
  color: var(--logo-color);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.button {
  font-weight: var(--medium); /*medium*/
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.nav-items:hover,
.contacts:hover,
.contacts:active {
  color: var(--studio-color);
}

.nav-items:active {
  text-decoration: underline;
}
.a-nav:focus,
.a-adress:focus {
  color: var(--studio-color);
}


.logo-studio {
  color: var(--nav-color);
  letter-spacing: 0.03em;
}
.navigation-address {
  font-weight: var(--regular); /*regular*/
  font-style: normal;
}

.contacts {
  color: var(--body-color);
}

.h1-section {
  background-color: var(--nav-color);
  color: var(--white);
  text-align: center;
}

.h1-section .button {
  background-color: var(--logo-color);
  color: var(--white);
}

.h1-section .button:hover,
.h1-section .button:focus {
  background-color: var(--studio-color);
  color: var(--white);
}

.section-our-team {
  background-color: var(--cloud-color);
}

.ul-team {
  text-align: center;
  background-color: var(--white);
}
.li-membres {
  background-color: var(--white);
}
.p-text {
  font-size: 16px;
}

.footer {
  background-color: var(--nav-color);
  color: var(--cloud-color);
}

.footer .logo-studio {
  color: var(--cloud-color);
}
